body {
  font-family: "Helvetica Neue", 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  margin: 0;
  background-color: #F8F5F0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 13px;
    color: #333;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}
h1 {
  font-size: 68px;
  margin-bottom: 40px;
}
h3 {
  font-size: 38px;
  margin: 0 0 10px 0;
}
h4 {
  font-size: 22px;
  margin: 6px 0 6px 0;
}
h5 {
  font-size: 16px;
  margin-top: 8px;
}
::selection {
  background-color: #A3C96C;
  color: #ffffff;
}
#content {
    width: 1200px;
    margin: 0 auto;
}
#chart-book {
    text-align: center;
    height: 270px;
}
#chart-numbers {
  overflow: hidden;
}
#chart-numbers > div {
  float: left;
  width: 33%;
}
#book-info {
  margin: 20px auto 20px auto;
  padding: 20px;
  width: 80%;
  text-align: center;
  min-height: 100px;
}
.bar {
  color: #A3C96C;
  opacity: 0.75;
}
h4 .bar {
  font-size: 22px;
}
#book-info h4.info {
  font-size: 18px;
}
#book-info h4.info em {
  font-size: 22px;
}
.subtle {
  color: #A3C96C;
}
footer {
  margin: 60px 0 20px 0;
  text-align: center;
}
footer a {
  color: #A3C96C;
}
footer a:hover {
  color: #A3C96C;
}
/** Chart **/
.click-capture {
  pointer-events: all;
  visibility: hidden;
}
.lines,
.pages,
.range {
  pointer-events: none;
}
rect {
  shape-rendering: crispedges;
}
.book {
  fill: #A3C96C;
  opacity: 0.75;
}
.book:hover {
  cursor: help;
}
.hidden {
  display: none;
}

line.dot,
.range line {
    stroke: #999;
}

text {
  font-size: 30px;
  font-family: "Helvetica Neue", 'Arial Narrow', Arial, sans-serif;
  fill: #999;
}

line.dot {
  stroke-width: 2px;
  shape-rendering: crispedges;
  stroke-dasharray: 2, 2;
}
.lines.x line,
.range line {
  stroke-width: 2px;
  shape-rendering: crispedges;
}
.range line {
  stroke: #999;
}
