* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

:root {
  --bg: #f8f5f0;
}
body {
  font-family: -apple-system, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  margin: 0;
  background-color: var(--bg);
  height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 13px;
  color: #333;
  font-weight: 300;
  text-align: center;
  margin: 0;
}
h3 {
  font-size: 38px;
  margin: 0 0 10px 0;
}
h4 {
  font-size: 22px;
  margin: 6px 0 6px 0;
}
h5 {
  font-size: 16px;
  margin-top: 8px;
}
::selection {
  background-color: #a3c96c;
  color: #ffffff;
}

#chart-book {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: var(--bg);
  z-index: 1;
  font-weight: 300;
}
#books {
  width: 800px;
  margin: 0 auto;
  margin-top: 320px;
  overflow: hidden;
}
#books li {
  display: grid;
  grid-template-columns: 1fr 0.75fr min-content 70px;
  grid-column-gap: 12px;
  padding: 5px;
  border-radius: 3px;
  transition: background-color 0.1s ease-in-out;
  scroll-margin-top: 400px;
}

#books .title {
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  overflow: hidden;
}
#books .author {
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  overflow: hidden;
}
#books .end_date {
  font-variant: tabular-nums;
}

#chart-numbers > div {
  float: left;
  width: 33%;
}
#book-info {
  margin: 20px auto 20px auto;
  padding: 20px;
  width: 80%;
  text-align: center;
  min-height: 100px;
}
.bar {
  color: #a3c96c;
  opacity: 0.75;
}
h4 .bar {
  font-size: 22px;
}
#book-info h4.info {
  font-size: 18px;
}
#book-info h4.info em {
  font-size: 22px;
}

footer {
  margin: 40px 0;
  text-align: center;
}
footer a {
  color: #a3c96c;
}
footer a:hover {
  color: #a3c96c;
}
/** Chart **/
.click-capture {
  pointer-events: all;
  visibility: hidden;
}
.lines,
.pages,
.range {
  pointer-events: none;
}
rect {
  shape-rendering: crispedges;
}
.book {
  opacity: 0.75;
}
.book:hover {
  cursor: help;
}
.hidden {
  display: none;
}

line.dot,
.lines.x line,
.range line {
  stroke: #999;
}

text {
  font-size: 30px;
  font-family: "Helvetica Neue", "Arial Narrow", Arial, sans-serif;
  fill: #999;
}

line.dot {
  stroke-width: 2px;
  shape-rendering: crispedges;
  stroke-dasharray: 2, 2;
}
.lines.x line,
.range line {
  stroke-width: 2px;
  shape-rendering: crispedges;
}
.range line {
  stroke: #999;
}
